@using TABFMVC5.ViewModels
@model UserLoginViewModel

@{
    ViewBag.Title = "Complex2";

    UserLoginViewModel data1 = new UserLoginViewModel();
    UserLoginViewModel data2 = new UserLoginViewModel();
}

<h2>Complex2</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Data 1</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => data1.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => data1.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => data1.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => data1.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => data1.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => data1.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <h4>Data 2</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => data2.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => data2.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => data2.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => data2.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => data2.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => data2.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
