@using TABFMVC5.Models

@{ 
    ViewBag.Title = "測試";
}
<ul>
    <li>ViewData["Key1"] = @ViewData["Key1"]</li>
    <li>ViewBag.Key2 = @ViewBag.Key2</li>
    <li>ViewBag.Key1 = @ViewBag.Key1</li>
</ul>

<h2>弱型別</h2>

@ViewBag.Product.ProductName

<h2>強型別</h2>

@{
    var product = ViewBag.Product as Product;
}

@product.ProductName

<h2>錯誤訊息</h2>

<pre>@TempData["Error"]</pre>

<h2>執行時間</h2>

<pre>@ViewBag.Time</pre>