@model IEnumerable<TABFMVC5.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (TempData["UpdatedProduct"] != null)
{
    var product = TempData["UpdatedProduct"] as TABFMVC5.Models.Product;

    <pre>@product.ProductName 資料更新成功！</pre>
}



@using (Html.BeginForm())
{
<p>
    @Html.ActionLink("Create New", "Create")
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <label>
        @Html.CheckBox("IsShowDeleted", new { onchange = "this.form.submit();" })
        顯示所有資料 (包含已刪除資料)
    </label>
</p>
}


@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>
    @{ 
        var products = Model.ToArray();
    }
@for(var i=0;i<products.Length;i++)
{

    @Html.HiddenFor(modelItem => products[i].ProductId)

    <tr>
        <td>
            @Html.EditorFor(modelItem => products[i].ProductName)
        </td>
        <td>
            NT$ @String.Format("{0:#,#}", products[i].Price)
        </td>
        <td>
            @Html.EditorFor(modelItem => products[i].Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = products[i].ProductId }) |
            @Html.ActionLink("Details", "Details", new { id = products[i].ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id = products[i].ProductId })
        </td>
    </tr>
}

</table>

            <input type="submit" value="批次更新" />
}